* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.haru {
  width: 100%;
  height: 200px;
  background-image: url(img/box1.jpg);
  background-position: center;
  background-size: cover;
}

.natu {
  width: 100%;
  height: 200px;
  background-image: url(img/box2.jpg);
  background-position: center;
  background-size: cover;
}

.aki {
  width: 100%;
  height: 200px;
  background-image: url(img/box3.jpg);
  background-position: center;
  background-size: cover;
}

.huyu {
  width: 100%;
  height: 200px;
  background-image: url(img/box4.jpg);
  background-position: center;
  background-size: cover;
}